<!---
Auteur : Daniele Castro
-->

{% extends 'template_base.html' %}
{% load static %}
{% block contenu %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


    <br>
    <h1 class="detailLocation"> Les détails de la location :</h1>
    <br>
    <div class="detailLocation">
        <div style="border: 1px solid ; text-align: center">
            <p><b><u>Tarif de la location</u></b></p>
            <p>Le prix de la location est de : {{ prix }} CHF</p>
            <p>+la caution de 150 CHF</p>
            <p><b>Montant total : {{ montantTotal }} CHF</b></p>
        </div>
    <br>
        <div style="border: 1px solid ; text-align: center">
        <p><u>Résumé de la location :</u><br>
        <p>Le statut de la location numéro {{ locationvelo.lv_loc_id.loc_num }} est :  <b>{{ locationvelo.lv_loc_id.loc_statut }}</b></p>
        {% if not locationvelo.termine and not locationvelo.annule %}
            <p>La location à commencé le <b>{{ locationvelo.date_debut }}</b> et prends fin le <b>{{ locationvelo.date_fin}}.</b></p>
            <p>La location se termine dans {{locationvelo.date_fin|timeuntil:date}}.</p>
        {% elif locationvelo.annule %}
            <p>La location est annulé.</p>
        {% else %}
            <p>La location à commencé le <b>{{ locationvelo.date_debut }}</b> et a prit fin le <b>{{ locationvelo.date_fin}}.</b></p>
            <p>La location est terminé.</p>
        {% endif %}
        </div>
        <br>
        <div style="border: 1px solid ; text-align: center">
        <p><u>Le client concerné par cette location : </u><br>
        Nom : {{ locationvelo.lv_loc_id.loc_client.cli_nom }} <br>
        Prenom : {{ locationvelo.lv_loc_id.loc_client.cli_prenom }} <br>
        Adresse : {{ locationvelo.lv_loc_id.loc_client.cli_adresseposte }} <br>
        Mail : {{ locationvelo.lv_loc_id.loc_client.cli_mail }} <br>
        Telephone : {{ locationvelo.lv_loc_id.loc_client.cli_tel }} </p>
        </div>
        <br>
        <div style="border: 1px solid ; text-align: center">
        <p><u>Le vélo concerné par cette location :</u><br>
        Nom : {{ locationvelo.lv_vel_id.vel_nom }} <br>
        Marque: {{ locationvelo.lv_vel_id.vel_marque}} <br>
        Couleur : {{ locationvelo.lv_vel_id.vel_couleur }} <br>
        Type : {{ locationvelo.lv_vel_id.vel_type }} <br>
        </div>
        <a href="{% url 'location:locationClient' request.user.id %}"> <--- Retour a mes locations </a>

    </div>
{% endblock contenu %}
