<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}
<!-- Google Font -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

<br>
<h1 style="margin-left: 22%">Finalisez votre location</h1>
<br>
<br>

<form style="margin-left: 25% ; margin-right: 30%" action="" method="POST">
     {%  csrf_token %}
  <div class="form-group">
    <label>Date de debut<sup style="color: red">*</sup> :</label>
    <input  id="dateDebut"class="form-control" type="date" placeholder="Date debut" for={{formLocationVelo.date_debut}}
  </div>
  <div id ="dateFinDiv"class="form-group">
    <label>Date de fin<sup style="color: red">*</sup> :</label>
    <input  id="dateFin"class="form-control" type="date" placeholder="Date fin" for={{formLocationVelo.date_fin}}
  </div>

  <a style="color: red">{{messageErreur}}</a><br><br>
     <sup style="color: red ;">*Champs obligatoires</sup>


      <div style="border: 1px solid">
        <table class="table table-hover">
    <thead>
    <h4 style="text-align: center">Rappel des tarifs des locations</h4>
    </thead>
    <thead>
    <tr>
      <th scope="col">3 mois (le minimum)</th>
      <th scope="col">rajout d'un mois supplémentaire</th>
      <th scope="col">caution</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>50 CHF</td>
      <td>+5 CHF</td>
      <td>150 CHF</td>
    </tr>
  </tbody>
</table>
</div>
<br><br>


  <a href="{% url 'location:donneeLocationClient' velo.vel_id%}" class="btn btn-primary" role="button" aria-pressed="true" >Annuler</a>
  <input type="submit" value="Envoyer" class="btn btn-primary" href="{% url 'location:finaliserLocationClient' velo.vel_id%}" >

</form>



<script type="text/javascript">
      
      var newDiv = document.createElement("div");
      newDiv.setAttribute("id", "divJs");
      var currentDiv = document.getElementById('dateFinDiv');
      currentDiv.appendChild(newDiv);



      var dateDebut  = document.getElementById("dateDebut");
      var dateFin   = document.getElementById("dateFin");
      var textAfficher = ''; // Variable qui permet de stocker ce que nous allons afficher

      // Permet d'afficher lorsque nous modifions la date de debut et la date de fin
      function afficher() {
        // Permet de calculer la différence entre deux dates
        var diff_en_temps = new Date(dateFin.value).getTime() - new Date(dateDebut.value).getTime();
        var diff_en_jours = diff_en_temps / (1000 * 3600 * 24);

        // Permet de rien afficher si une seule des deux date est entrée.
        if (isNaN(diff_en_jours)){
            textAfficher = '';
        }
        else{
            if (diff_en_jours > 365){

              textAfficher = 'ATTENTION : la location ne doit pas dépasser 1 an.';}



            else if (diff_en_jours > 90){
              var somme = 50; // les trois mois de départ
              var jours = diff_en_jours - 90 // enlever les 3 mois minimum pour avoir unqiuement les jours en plus 
              somme += Math.round(jours / 30) * 5
              textAfficher = "Totale de la location : "+ somme + " + 150 (la caution) = " + (somme + 150) + " CHF";
            }


            else{textAfficher = 'ATTENTION : la location doit durer au minimum 3 mois.';}
        }
        newDiv.innerHTML = textAfficher;
      }
      dateDebut.onchange = afficher;
      dateFin.onchange = afficher;
   </script>










{% endblock %}