<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}
{% load mathfilters %}
{% block contenu %}

<!-- CSS Libraries -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">



    <br>
<h1 class="titre" style="margin-left: 10%">Liste des locations en attente</h1>
    <br>

<br>
<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Numéro location</th>
      <th scope="col">Statut location</th>
      <th scope="col">Nom client</th>
      <th scope="col">Nom vélo</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Ancienne date</th>
      <th scope="col">Temps de la diminution/prolongation</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for loc in locationEnattente %}
    <tr>
      <th scope="row">{{ loc.lv_loc_id.loc_num}}</th>
      <td><a href="{% url 'location:detailsLocationEnAttente' loc.loc_num %}">{{ loc.lv_loc_id.loc_statut}}</a></td>
      <td><a>{{loc.lv_loc_id.loc_client.cli_nom}} {{loc.lv_loc_id.loc_client.cli_prenom}}</a></td>
      <td>{{loc.lv_vel_id.vel_nom}}</td>
      <td>{{loc.date_debut}}</td>
      <td>{{loc.date_fin}}</td>
          {% if loc.lv_loc_id.date_modifier != None%}
          <td>{{loc.lv_loc_id.date_modifier}}</td>
          <td>
                {{loc.date_fin|timeuntil:loc.lv_loc_id.date_modifier}}
          </td>
          {% else %}
          <td>-</td>
          <td>-</td>
          {% endif %}
      <td><a href="{% url 'location:confirmationLocation'  loc.loc_num%}">Confirmer</a></td>
      <td><a href="{% url 'location:refuseLocationEnAttente' loc.loc_num%}">Refusé</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<br>




<br><br><br><br><br><br>

<h3 class="titre" style="margin-left: 10%">{{ messageNbLocation }}</h3>


{% endblock %}
