<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}
{% load mathfilters %}
{% block contenu %}

<!-- CSS Libraries -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <br>
<h1 class="titre" style="margin-left: 10%">Liste des locations</h1>
    <br>
<br>
<form method="get">
<div class="btn-group btn-group-sm mb-3" role="group" aria-label="Groupe de petits boutons" style="margin-left: 10%">
{{myfilter.form}}&nbsp;
<button class="btn btn-primary" type="submit" style="" >Filtrer</button></div>
</form>

<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Numéro location</th>
      <th scope="col">Statut location</th>
      <th scope="col">Nom client</th>
      <th scope="col">Nom vélo</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Temps restant</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for loc in locations %}
    <tr>
      <th scope="row">{{ loc.lv_loc_id.loc_num}}</th>
      <td><a href="{% url 'location:detailsLocation' loc.loc_num %}">{{ loc.lv_loc_id.loc_statut}}</a></td>
      <td><a>{{loc.lv_loc_id.loc_client.cli_nom}} {{loc.lv_loc_id.loc_client.cli_prenom}}</a></td>
      <td>{{loc.lv_vel_id.vel_nom}}</td>
      <td>{{loc.date_debut}}</td>
      <td>{{loc.date_fin}}</td>
      {% if not loc.ends_within_10_days and not loc.termine and not loc.annule%}
        <td style="color: green">{{loc.date_fin|timeuntil:date}}</td>
      {% elif loc.termine %}
        <td style="color: blue">Terminé</td>
      {% elif loc.annule %}
        <td style="color: blue">Annulé</td>
      {% else %}
        <td style="color: red">{{loc.date_fin|timeuntil:date}}</td>
      {% endif %}
      <td><a href="{% url 'location:modifierLocation'  loc.loc_num%}">Modifier</a></td>
      <td><a href="{% url 'location:supprimerLocation' loc.loc_num%}"><img class="imagePoubelle" src="{% static 'img/poubelle.png' %}" alt="Image"></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<br>




<!-- Button -->
<a href="{% url 'location:nouvelleLocation' %}" class="btn btn-primary" role="button" aria-pressed="true" style="margin-left: 10% ;margin-bottom:20px">Ajouter une nouvelle location</a>

<br><br><br><br><br><br>

<h3 class="titre" style="margin-left: 10%">{{ messageNbLocation }}</h3>


<br><br><br><br><br>

{% endblock %}
