
<!-- Auteur : Stanley Rochat-->
{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}

        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">





<form style="margin-left: 25% ; margin-right: 30%" action="" method="post">
    {% csrf_token %}
    <br>
    <h1> Ajouter une pièce de vélo </h1>
    <br><br>
    <p1> Photo: &nbsp; </p1>
    <div>{{formPiece.piece_photo}}</div>
    <br>


    <div class="form-group">
    <p1>Numéro pièce<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formPiece.piece_num_cadre}}
    </div>

    <div class="form-group">
    <p1>Type de pièce<p1 style="color: red">*</p1>: &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.piece_type}}
    </div>

    <div class="form-group">
    <p1>Type de vélo<p1 style="color: red">*</p1>: &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.piece_type_velo}}
    </div>

    <div class="form-group">
    <p1>Marque de la pièce<p1 style="color: red">*</p1>: &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.piece_marque}}
    </div>

    <div class="form-group">
    <p1>Nombre de pièces<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formPiece.piece_nb}}
    </div>


    <div class="form-group">
    <p1>Remarque : &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formPiece.piece_remarque}}
    </div>

    <div class="form-group">
    <p1>Local<p1 style="color: red">*</p1>: &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.local_id}}
    </div>

    <div class="form-group">
    <p1>Fourniseur<p1 style="color: red">*</p1>: &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.fourni_id}}
    </div>


    <div class="form-group">
    <p1>Commande : &nbsp; </p1>
    <select  class="form-control"  type="text"  for={{formPiece.commande_fourni_id}}
    </div>



<div>
    <a href="{% url 'stock_pieces_velos:indexStockPiecesVelos'%}"  class="btn btn-primary" >Annuler</a>
    <input type="submit" class="btn btn-primary" role="button">
</div>

</form>
<br>

<sup style="color: red ; margin-left: 25%">*Champs obligatoires</sup>


{% endblock %}