{% extends 'template_base.html' %}
{% load static %}


{% block contenu %}

<br>
<h1 style="margin-left: 10%">Réparations</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js"></script>
<script src="{% static 'js/style_base.js' %}"></script> <!-- script java ajouté -->
<div class="container-fluid px-0 px-sm-4 mx-auto">
    <div class="row justify-content-center mx-0">
        <div class="col-lg-10">
            <div class="card border-0">
                <form autocomplete="off">
                    <div class="card_header ">
                        <div class="mx-0 mb-0 row justify-content-sm-center justify-content-start px-1">
                            <input type="text" id="dp1" class="datepicker" placeholder="Choisissez une date" name="date" readonly>
                            <span style="margin-top: 10px" class="fa fa-calendar"></span> </div>
                    </div>
                    <div aria-required="false" class="card-body p-3 p-sm-5">
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">9:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">9:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">9:45</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">10:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">10:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">10:45</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">11:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">11:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">11:45</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">12:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">12:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">12:45</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">13:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">13:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">13:45</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">14:00</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">14:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">14:45</div>
                            </div>
                        </div>
                        <div class="row text-center mx-0">
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1" id="15h00"><href src="">15:00</href></div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">15:30</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">16:15</div>
                            </div>
                            <div class="col-md-2 col-4 my-1 px-2">
                                <div class="cell py-1">17:00</div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<!-- Deuxieme calendrier
<form method="post">{% csrf_token%}
        {{ form.as_p }}
        <input id="rep_date_heure" name="rep_date_heure" type="button"/>
    </form>


<br>

<h1 style="margin-left: 10%">Réparations</h1>
<br>
<br>

<div class="input-group input-daterange">
    <input type="text" class="form-control" value="2012-04-05">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control" value="2012-04-19">
</div>

<input type="text" class="form-control" value="02-16-2012">


<input id="input_test"  type="text" value="">
<script type="text/javascript">
$('#input_test').datepicker();
</script>

-->




<!-- Premier Calendrier:

<table class="calendar table table-bordered">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th width="16%">Lundi</th>
            <th width="16%">Mardi</th>
            <th width="16%">Mercredi</th>
            <th width="16%">Jeudi</th>
            <th width="16%">Vendredi</th>
            <th width="16%">Samedi</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>08:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>08:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>09:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>09:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>10:00</td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Combinatorics</span> <span class="lecturer"><a>Prof.
                            Someone</a></span> <span class="location">23/111</span>
                </div>
            </td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Algebra 2</span> <span class="lecturer"><a>Prof.
                    Else </a> </span> <span class="location">44/654</span>

                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Data Structures</span> <span class="lecturer"><a>Prof.
                            If</a></span> <span class="location">54/222</span>
                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>10:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>11:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>11:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>12:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events conflicts " rowspan="4">

                <div class="row-fluid practice" style="width: 49.5%; height: 100%;">


                    <span class="title">Algebra 2</span> <span class="lecturer"><a>Mr.
                            Someone</a></span> <span class="location">12/444</span>
                </div>

                <div class="row-fluid lecture" style="width: 49.5%; height: 100%;">


                    <span class="title">Calculus 1</span> <span class="lecturer"><a>Prof.
                            Foo</a></span> <span class="location">66/321</span>
                </div>

                <td class=" no-events" rowspan="1"></td>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Algebra 2</span> <span class="lecturer"><a>Prof.
                            Oak</a></span> <span class="location">54/224</span>
                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>


        </tr>
        <tr>
            <td>12:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>13:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>13:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>14:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Data Structures</span> <span class="lecturer"><a>Prof.
                            Oak</a></span> <span class="location">33/111</span>
                </div>
            </td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" has-events" rowspan="6">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Calculus 1</span> <span class="lecturer"><a>Dr.
                            Ok</a></span> <span class="location">12/54</span>
                </div>

                <td class=" no-events" rowspan="1"></td>
            </td>

        </tr>
        <tr>
            <td>14:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>15:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>15:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>16:00</td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid practice" style="width: 99%; height: 100%;">


                    <span class="title">Calculus 1</span> <span class="lecturer"><a>Mrs.
                            Ak</a></span> <span class="location">54/125</span>
                </div>
            </td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid lecture" style="width: 99%; height: 100%;">


                    <span class="title">Combinatorics</span> <span class="lecturer"><a>Ms.
                            Nice</a></span> <span class="location">99/411</span>
                </div>
            </td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid practice" style="width: 99%; height: 100%;">


                    <span class="title">Combinatorics</span> <span class="lecturer"><a>Ms.
                            K</a></span> <span class="location">24/900</span>
                </div>
            </td>

            <td class=" has-events" rowspan="4">

                <div class="row-fluid practice" style="width: 99%; height: 100%;">


                    <span class="title">Data Structures</span> <span class="lecturer"><a>Mr.
                            Ben</a></span> <span class="location">54/214</span>
                </div>

                <td class=" no-events" rowspan="1"></td>
            </td>

        </tr>
        <tr>
            <td>16:30</td>
                <td class=" no-events" rowspan="1"></td>
        </tr>
        <tr>
            <td>17:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>17:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>18:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>18:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>19:00</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
        <tr>
            <td>19:30</td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

            <td class=" no-events" rowspan="1"></td>

        </tr>
    </tbody>
</table>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
$( "#rep_date_heure" ).datepicker()
</script>
-->

<!-- CSS -->


{% endblock %}
