<!---
Auteur : Daniele Castro
-->
{% extends 'locationAcceuil.html' %}
{% load static %}
{% load mathfilters %}
{% block contenu %}

<!-- CSS Libraries -->
<link href="{% static 'location/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'location/lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
<link href="{% static 'location/lib/animate/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'location/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
<br>
<h1 class="titre" style="margin-left: 10%">Liste des locations</h1>
<br>
<br>
<div class="table-responsive">
 <table class="table">
  <thead class="thead-dark" >
    <tr>
      <th scope="col">Numéro location</th>
      <th scope="col">Statut location</th>
      <th scope="col">Nom client</th>
      <th scope="col">Nom vélo</th>
      <th scope="col">Date début</th>
      <th scope="col">Date fin</th>
      <th scope="col">Temps restant</th>
      <th scope="col">Montant</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody id="idDiv">
  {% for loc in locations %}
    <tr>
      <th scope="row">{{ loc.loc_num}}</th>
      <td><a href="{% url 'location:detailsLocation' loc.loc_num%}">{{ loc.loc_statut}}</a></td>
      <td><a>{{loc.loc_cli_id.cli_nom}} {{loc.loc_cli_id.cli_prenom}}</a></td>
      <td>{{loc.loc_vel_id.vel_nom}}</td>
      <td>{{loc.loc_date_debut}}</td>
      <td>{{loc.loc_date_fin}}</td><td></td>
      <td>{{loc.montant}}</td>
      <td><a href="">Modifier</a></td>
      <td><a href=""><img class="imagePoubelle" src="{% static 'location/img/poubelle.png' %}" alt="Image"></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<br>
<div id="locationsDiv">


</div>


<!-- Button -->
<a href="{% url 'location:nouvelleLocation' %}" class="btn btn-primary" role="button" aria-pressed="true" style="margin-left: 10% ;margin-bottom:20px">Ajouter une nouvelle location</a>

<br><br><br><br><br><br>

<script type="text/javascript">
     var locationsDiv = document.getElementById("locationsDiv")
     function onstart(){
        const xhr = new XMLHttpRequest();
        const url = '/listelocation'

        xhr.responseType = 'json';
        xhr.open('GET', url);

        xhr.onload = function (){
         locs = xhr.response.locations;
         locs.forEach(loc =>
             locationsDiv.innerHTML += loc.loc_id)
     }
         xhr.send()
     }

  onstart()
</script>

{% endblock %}
