<!-- Auteur : Stanley Rochat-->

{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}


        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">






<form  style="margin-left: 25% ; margin-right: 30%" action="" method="post">
    {% csrf_token %}
    <!-- <p1> Photo: </p1> {{formLocal.loc_photo}} -->
    <br>
    <h1> Ajouter un local </h1>
    <br><br>

    <div class="form-group">
    <p1>Nom<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formLocal.local_nom}}
    </div>

    <div class="form-group">
    <p1>Adresse postale<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formLocal.local_adresseposte}}
    </div>

    <div class="form-group">
    <p1>NPA<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formLocal.local_npa}}
    </div>

    <div class="form-group">
    <p1>Capacité<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formLocal.local_capacite}}
    </div>

    <div class="form-group">
    <p1>Nombre de vélos stockés<p1 style="color: red">*</p1>: &nbsp; </p1>
    <input  class="form-control"  type="text"  for={{formLocal.local_nb_velo}}
    </div>


<div>
    <a href="{% url 'stock_locaux:indexStockLocaux'%}"  class="btn btn-primary" >Annuler</a>
    <input type="submit" class="btn btn-primary" role="button">
</div>

</form>





{% endblock %}