<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}


        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

<div style="margin-left: 22%; margin-right: 22%">
        <br><h1>A propos</h1>
        <br><br>
        La Bicyclette Bleue, c'est une bande de potes qui partagent une conviction: il faut activement promouvoir la mobilité douce pour rendre nos villes plus écologiques, saines, agréables, sûres et humaines.
        Proposer des locations longue durée et offrir un espace d'auto-réparation sont nos modestes contributions, notre pierre à l'édifice.
        L'aventure débute en décembre 2018, lorsque nous remportons le prix du développement durable organisé par l'Université de Genève.
        Nos valeurs sont le socle de cette association: durabilité forte, engagement, récupération, lien social.

</div>
<br><img style="width : 350px;  margin-left: 40%" src="{% static 'img/logo.png' %}" alt="Image">



<br><br><br><br><br><br><br><br><br>




{% endblock %}
