<!---
Auteur : Daniele Castro
-->


{% extends 'template_base.html' %}
{% load static %}

{% block contenu %}
        <!-- Google Font -->
        <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

        <!-- CSS Libraries -->
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="{% static 'lib/flaticon/font/flaticon.css' %}" rel="stylesheet">
        <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
        <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">


<div style="margin-left: 22%; margin-right: 22%">
        <br><h1>Contact</h1>
        <br><br>
        <h4>Où nous trouver</h4>


        Nous nous trouvons au 3, sentier des Saules à Genève, dans le quartier de la Jonction.
        Pour trouver l'atelier, entrez dans le complexe de Ressources Urbaines, suivez le petit parking à droite,
        contournez le bâtiment et la Bicyclette Bleue se trouve en bas de l'escalier. On vous rassure,
        c'est pas compliqué, pas besoin d'être Lara Croft ;)
        <br><br>
        <h4>Adresse</h4>

        La bicyclette bleue<br>
        Sent. des Saules 3<br>
        1205 Genève

</div>
<br><br><br><br><br>




{% endblock %}
